:root {
    --primary-color: #0b5563; 
    --secondary-color: #f2a65a; 
    --accent1-color: #264653; 
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif; 
    --body-font: Arial, Helvetica, sans-serif; 
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img {
    height: 70px;
}

body {
    font-family: var(--body-font); 
    color: var(--accent1-color);
}
header, main, footer {
    width: 1024px;
    margin: 0 auto;  /* Modification */
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
footer {
    display: flex;
}
.socialmedia img {
    text-decoration: none;
    width: 50px;
    height: 50px;
    justify-content: left;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: #e9c46a;
    color: white;
}
.hero article {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.8;
    background-color: darkblue; 
    color: white;  
}
.hero article img {
    float: right;
    width: 125px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;               
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
.history h2 {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center; 
}
section img {
    width: 100px;
    height: 100px;
    align-items: center;
    flex-direction: column;
}
.history .element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px ;
    text-align: justify;
}
/* contact Us CSS*/
main h1 {
    text-align: center;
}
main p {
    text-align: center;
    font: bold;
    font-size: large;
    line-height: 0;
}
section .block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 950px;
    margin: 0 auto 40px;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.map iframe {
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
}
.contact {
    flex: 1;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input, textarea, button {
    padding: .75rem;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
}
textarea {
    resize: vertical;
}
.option1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.enroll label {
    font-size: .9rem;

}
.identity {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.identity label {
    min-width: 110px;
    padding-top: 6px;
    text-align: left;
}
.identity .radio {
    flex-direction: row;

}
.identity .radio > label, .identity .radio .types{
    min-width: 110px;
    padding-top: 6px;
}
button {
    background-color: navy;
    color: white;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    cursor: pointer;
}
/*form {
    flex: 1;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 0.75rem;
}*/

.employee {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
/*.employee img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}*/
.title {
    text-align: center;
    margin-top: 20px;
}
figcaption {
    margin-top: 6px;
    font-size: 14px;
}
.text {
    width: 30%;
    float: left;
    text-align: center;
    margin:0 1.5%;
}
.text img {
    width: 100px;
    height: 100px;
}