* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 700px;
    margin: 1.5rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    padding: 1rem;
    background-color: grey;
    color: white;
}
h1 {
    margin: .5rem;
}
form {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
}
input, textarea, select {
    padding: .75rem;
    width: 350px;
}
button {
    padding: .75rem;
    width: 350px;
}
button {
    background-color: navy;
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0 /10%);
}
code {
    display: block;
    background-color: #000;
    color: white;
}
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
}
.quiz-item {
    border: none;

}