* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: roboto, Arial, sans-serif;
}
nav {
    padding: 1rem;
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}
h1 {
    color: darkblue;
    padding: .5rem;
    border-bottom: #000;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    margin: 1rem;
    /*padding: 0px;*/
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    /*margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;*/
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute; 
    top: 30px;
    left: 100px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.indent {
    padding-left: 2rem;
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}